
#nav-second {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  overflow: hidden;
  margin-right: 500px;
  margin-left: 120px;
  padding: 15px;
  height: 60px;
  /* background-color: rgb(206, 175, 235); */
}


#nav-second .list ul {
  display: flex;
  
}

#nav-second .list ul li a {
  padding-left: 15px;
}

#nav-second .tools ul li a{
  padding-left: 450px;
}
